{% extends 'admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">STUDENTS</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>sl.no</th>
                            <th>NAME</th>
                            <th>PHONE</th>

                        <th>DATE OF BIRTH</th>
                            <th>AGE</th>
                            <th>STUDENT_IMAGE</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                         <td>{{forloop.counter}}</td>
                         <td>{{i.name}}</td>
                         <td>{{i.phone}}</td>
                         <td>{{i.dob}}</td>
                         <td>{{i.age}}</td>

                            <td><img src="{{i.student_image.url}}" style=" border-radius: 50% ; width:100px"></td>

                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}
